@model Employee
<input type="hidden" name="id" value="@Model.Id" />

<div class="mb-3">
    <label class="form-label">Name</label>
    <input class="form-control" value="@Model.Name" readonly />
</div>

<div class="mb-3">
    <label class="form-label">Age</label>
    <input class="form-control" value="@Model.Age" readonly />
</div>

<div class="mb-3">
    <label class="form-label">Email</label>
    <input class="form-control" value="@Model.Email" readonly />
</div>

<div class="mb-3">
    <label class="form-label">Address</label>
    <input class="form-control" value="@Model.Address" readonly />
</div>

<div class="mb-3">
    <label class="form-label">Phone</label>
    <input class="form-control" value="@Model.Phone" readonly />
</div>

<div class="mb-3">
    <label class="form-label">Salary</label>
    <input class="form-control" value="@Model.Salary.ToString("C2")" readonly />
</div>

<div class="mb-3">
    <label class="form-label">Status</label>
    <input class="form-control" value="@(Model.IsActive ? "Active" : "Inactive")" readonly />
</div>

<div class="mb-3">
    <label class="form-label">Deleted</label>
    <input class="form-control" value="@(Model.IsDelete ? "Yes" : "No")" readonly />
</div>

<div class="mb-3">
    <label class="form-label">Hiring Date</label>
    <input class="form-control" value="@Model.HiringTime.ToString("MM/dd/yyyy hh:mm tt")" readonly />
</div>

<div class="mb-3">
    <label class="form-label">Date Of Creation</label>
    <input class="form-control" value="@Model.CreateAt.ToString("MM/dd/yyyy hh:mm tt")" readonly />
</div>